.screen {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    word-break: break-all;
    gap: 5px;
}

#users {
    padding: 5px;
}

#actions {
    padding: 5px;
}

.form-element {
    display: flex;
    flex-direction: column;
}

.--invisible {
    visibility: hidden;
}